.main {
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container {
  background-color: var(--light-bg);
  border-radius: 14px;
  width: calc(100vw - 2rem) ;
  height: calc(99vh - 5rem);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 2rem 1rem;
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;
  margin-top: 1rem;



}
.rect {
  --radius: .3rem;
  height: 1.5rem;
  width: 4rem;
  position: absolute;
  right: 1rem;
  top: -0.5rem;
  background-color: var(--accent-color);
  border-radius: 0 0 var(--radius) var(--radius);
}
.ready_light {
  width: var(--LED-size);
  height: var(--LED-size);
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 1rem;
  left: 40%;
  background-color: var(--color);
  box-shadow: 0 0 10px 0px var(--color);
}
.ready_light.red {
  --color: red;
}
.ready_light.green {
  --color: green;
}

.voting_area {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;

}
.display {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid black;
  box-shadow: inset 1px 1px 10px 0px rgba(0, 0, 0, 0.726);
  overflow: hidden;
}
.display  .row, 
.buttons  .row {
  width: 100%;
  height: var(--candidate-row-height);
  display: flex;
  align-items: center;
}
.display  .row {
  border-bottom: 1px solid black;
  padding: 0 1rem;
  justify-content: space-between;
}
.buttons  .row {
  border-bottom: 1px solid transparent;
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
}
.row.category_name {
  height: 1.5rem;
  color: white;
  background-color: black;
  margin-top: 1rem;
}
.buttons .row.category_name {
  background-color: transparent;
  color: black;
}
.vote_button{
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 1rem;
  width: var(--vote-button-width);
  height: var(--vote-button-height);
  cursor: pointer;
}
.vote_button:hover {
  scale: 1.01;
}
.forward_icon {
  rotate: 180deg;
}
.forward_icon.isSelected {
  color: green;
  text-shadow: 0 0 10px green;
}
